[Unit]
Description=AV1 cloud backend service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/av1-cloud --config /etc/av1-cloud/configs/release.toml --register-test-user
Restart=on-failure
WorkingDirectory=/etc/av1-cloud/

[Install]
WantedBy=multi-user.target